<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glass blog</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- include('./include/header'); -%>
    <main>
        <section class="container">
            <h1 class="heading">Update Avatar</h1>
            <form class="form glass" action="/users/avatar/edit" method="POST" enctype="multipart/form-data">
                <div class="profile-avatar profile-avatar-edit">
                    <% if (user.avatar) { %>
                        <img class="profile-avatar-img" src="<%= user.avatar%>" alt="">
                    <% } else { %>
                        <img class="profile-avatar-img" src="/images/avatar.svg" alt="">
                    <% } %>
                    <label for="avatar" class="camera-btn">
                        <img src="/images/icons/camera.svg" alt="camera icon">
                    </label>
                </div>
                <input class="image-input" type="file" name="avatar" accept="image/*" id="avatar"><br>
                <div class="btn-form-wrapper">
                    <button class="btn btn-1 active">Save</button>
                </div>
            </form>
            <div class="skip-btn-wrapper">
                <a href="/users/<%= user.id %>" class="btn btn-1 active">Ok</a>
            </div>
        </section>
    </main>
    <%- include('./include/footer'); -%>
</body>
</html>