<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glass blog</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <%- include('./include/header'); -%>
    <main class="center-div">
        <section class="container">
            <form class="form glass" action="" method="POST">
                <textarea name="text" rows="5"><%= comment.text%></textarea><br>
                <div class="btn-form-wrapper">
                    <button class="btn btn-1">Save</button>
                </div>
            </form>
        </section>
    </main>
    <%- include('./include/footer'); -%>
</body>
</html>